<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarCurso(input.value)" type="text" class="form-control" placeholder="Buscar curso...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="">

    <div class="col-sm-12">

        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button [routerLink]="['/curso','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary"><i class="fa fa-plus"></i> Crear Curso</button>
                </div>

                <h3 class="card-title">Cursos registrados (<small>{{_cursoService.totalCursos}}</small>)</h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Curso</th>
                            <th>Sede</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let curso of cursos">
                            <td>
                                <img (click)="actualizarImagen(curso)" [src]="curso.img | imagen: 'curso'" class="img-50 pointer">
                            </td>
                            <td>
                                {{curso.nombre}}
                            </td>
                            <td>
                                {{curso.sede.nombre}}
                            </td>
                            <td>
                                <button [routerLink]="['/curso', curso._id]" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button> &nbsp;
                                <button (click)="borrarCurso(curso)" class="btn btn-danger">
                              <i class="fas fa-trash-alt"></i>
                          </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>